.nav {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    background-color: #1f2937;
    
}

.logo{
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.header-links{
    display: flex;
    
    
}

.header-1,.header-2,.header-3{
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.text-img{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #1f2937;
}

.subtext,.maintext,.sign-button{
    padding-top: 20px;
    color: white;
}

.maintext{
    font-size: 80px;
}

.subtext,.sign-button{
    font-size: 20px;
}

.sign-button-1{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.img{
    padding-bottom: 20px;
    padding-top: 20px;
}

.image{
    background-color: grey;
    width: 700px;
    height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

.Random{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.box-1,.box-2,.box-3,.box-4{
    width: 100px;
    height: 100px;
    border: 5px solid lightblue;
    
}

.box-content{
    display: flex;
    justify-content: space-evenly;
}

.boxc-1,.boxc-2,.boxc-3,.boxc-4{
    padding-top: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.boxc-1{
    padding-left: 10px;
}

.boxc-4{
    padding-right: 10px;
}

.quote{
    padding-top: 40px;
    padding-left: 30%;
    font-size: 30px;
    background-color: #e5e7eb;
}

.quoteby{
    font-size: 20px;
    background-color: #e5e7eb;
    padding-right: 30%;
    text-align: right;
}

.ctabox{
    background-color: #3882f6;
    width: 700px;
    height: 100px;
    margin-left: 450px;
    margin-top: 20px;
    
}

.bigcta{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.smallcta{
    padding-top: 20px;
    font-size: 15px;
    padding-left: 10px;
}